.icon-container {
  display: block;
  white-space: nowrap;
  position: relative;

  @media (min-width: $pointDesktop) {

  }

  @media (max-width: $pointMobile) {
    overflow: hidden;
  }

  &:after {
    display: block;
    height: 100%;
    content: " ";
    background: linear-gradient(to left, #ffffff, transparent) ;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

    @media (min-width: $pointDesktop) {

    }

    @media (max-width: $pointMobile) {
      width: 37vw;
    }
  }

  .icon {
    display: inline-block;
    background: #f1f1f1;
    box-sizing: border-box;

    @media (min-width: $pointLargeDesktop) {
      width: 168px;
      height: 168px;
      border-radius: 42px;
      margin-right: 26px;
    }

    @media (min-width: $pointDesktop) and (max-width: $pointDesktopMax) {
      width: 12vw;
      height: 12vw;
      border-radius: 3vw;
      margin-right: 1.8vw;
    }

    @media (max-width: $pointMobile) {
      width: 31.6vw;
      height: 31.6vw;
      border-radius: 8vw;
      margin-right: 6.4vw;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}