.parallax-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media (min-width: $pointDesktop) {
        width: 100%;
    }

    @media (max-width: $pointMobile) {
        display: none;
    }
}