.recall-form {
    display: block;
    position: fixed;
    background: #ffffff;
    width: 100%;
    bottom: -100%;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    @include transition(bottom, 0.5s, ease, 0.2s);

    &.recall-form__show {
        bottom: 0;
    }

    @media (min-width: $pointLargeDesktop) {
        padding: 15px 0;
        box-shadow: 0 2px 10px rgba(0,0,0,0.6);
    }

    @media (min-width: $pointDesktop) and (max-width: $pointDesktopMax) {
        padding: 0.5vw 3.4vw;
        box-shadow: 0 0.07vw 0.3vw rgba(0,0,0,0.6);
    }

    @media (max-width: $pointMobile) {
        padding: 2vw 0;
        box-shadow: 0 0.2vw 1.3vw rgba(0,0,0,0.6);
    }

    .recall-form__content {
        @media (min-width: $pointLargeDesktop) {
            width: $largeDesktopContainerWidth;
            margin: 0 auto;
        }

        @media (min-width: $pointDesktop) and (max-width: $pointDesktopMax) {
            padding: 1.5vw 0;
        }

        @media (max-width: $pointMobile) {
            padding: 4.8vw 2.9vw;
        }
    }

    .recall-form__label {
        display: inline-block;
        vertical-align: middle;

        @media (min-width: $pointLargeDesktop) {
            margin-right: 49px;
        }

        @media (min-width: $pointDesktop) and (max-width: $pointDesktopMax) {
            margin-right: 1.8vw;
        }

        @media (max-width: $pointMobile) {
            margin-bottom: 4vw;
        }
    }

    .recall-form__control {
        background-color: #f1f1f1;
        vertical-align: middle;
        border: none;
        outline: none;
        font-weight: $fontWeightUltraBold;

        @media (min-width: $pointLargeDesktop) {
            display: inline-block;
            border-radius: 28px;
            font-size: 15px;
            padding: 11px 20px;
            width: 180px;
        }

        @media (min-width: $pointDesktop) and (max-width: $pointDesktopMax) {
            display: inline-block;
            border-radius: 2vw;
            font-size: 1.1vw;
            padding: 0.85vw 1.4vw;
            width: 12.9vw;
        }

        @media (max-width: $pointMobile) {
            display: block;
            border-radius: 10vw;
            padding: 4vw 5.7vw;
            box-sizing: border-box;
            font-size: 4vw;
            width: 100%;
            margin-bottom: 4vw;
        }

        @include placeholder-color(#7c7c7c);
    }

    .button {
        font-weight: $fontWeightUltraBold;

        @media (min-width: $pointLargeDesktop) {
            border-radius: 28px;
            font-size: 15px;
            padding: 11px 20px;
            width: 236px;
        }

        @media (min-width: $pointDesktop) and (max-width: $pointDesktopMax) {
            border-radius: 2vw;
            font-size: 1.1vw;
            padding: 0.85vw 1.4vw;
            width: 15vw;
        }

        @media (max-width: $pointMobile) {
            display: block;
            border-radius: 10vw;
            padding: 4vw 5.7vw;
            font-size: 4vw;
            width: 100%;
        }
    }
}
