.static-form {
    display: block;
    background-color: map_get($colorsMap, componentsActionFormBackground);
    box-sizing: border-box;
  
    &.static-form_font-light {
        font-weight: $fontWeightLight;
    }
    
    &.static-form_center {
        margin: 0 auto;
    }
    
    &.static-form_tracking_margined {
        @media (min-width: $pointLargeDesktop) {
            
        }
        
        @media (min-width: $pointDesktop) and (max-width: $pointDesktopMax) {
            margin-bottom: 14.3vw;
        }
        
        @media (max-width: $pointMobile) {
            margin-bottom: 49.7vw;
        }
    }
    
    @media (min-width: $pointLargeDesktop) {
        border-radius: 28px;
        width: 378px;
        padding: 23px 31px;
    }
    
    @media (min-width: $pointDesktop) and (max-width: $pointDesktopMax) {
        border-radius: 2vw;
        width: 27vw;
        padding: 1.7vw 2.3vw;
    }
    
    @media (max-width: $pointMobile) {
        border-radius: 6vw;
        padding: 5vw 4.5vw;
    }
}